@font-face {
    font-family: 'SFUIDysplay';
    src: url('/fonts/sfuidisplay_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('/fonts/mont_extralightdemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-section {
    height: 130px;
}

.header-section .header-menu-section {
    height: 62px;
    margin-left: 162px;
    margin-right: 162px;
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
}

.header-section .header-menu-section .header-menu-logo-section,
.header-section .header-menu-section .header-menu-elements-section,
.header-section .header-menu-section .header-menu-auth-section {
    display: inline-block;
}

.header-section .header-menu-section .header-menu-logo-section a img {
    height: 62px;
}

.header-section .header-menu-section .header-menu-elements-section {
    width: 100%;
    margin-left: 120px;
    margin-right: 50px;
    margin-top: 12px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-section .header-menu-section .header-menu-elements-section a {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10px;
    height: 18px;

    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;

    position: relative;
    text-decoration: none;
    color: #454545;
}

.header-section .header-menu-section .header-menu-elements-section a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: blue;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.header-section .header-menu-section .header-menu-elements-section a:hover::after {
    transform: scaleX(1);
}

.header-section .header-menu-section .header-menu-auth-section {
    margin-top: 17px;
}

.header-section .header-menu-section .header-menu-auth-section a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    background: #4C70FF;
    border-radius: 6px;
    border-style: none;
    text-decoration: none;

    color: #FFFFFF;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
}

.header-section .header-menu-section .header-menu-auth-section a:hover {
    background: rgba(224, 245, 245, 0);
    color: #3a7999;
    box-shadow: inset 0 0 0 1px #3a7999;
    transition-duration: 200ms;
}

.content-section {
    margin-left: 162px;
    margin-right: 162px;
}