/* Group 20 */

position: absolute;
width: 1585px;
height: 300px;
left: 170px;
top: 288px;



/* Rectangle 22 */

position: absolute;
width: 1585px;
height: 300px;
left: 170px;
top: 288px;

background: #FBFBFB;
border-radius: 8px;


/* Intersect */

position: absolute;
width: 555px;
height: 250px;
left: 1172px;
top: 313px;

background: url(image.png);


/* Rectangle 23 */

position: absolute;
width: 555px;
height: 250px;
left: 1172px;
top: 313px;

background: #FBFBFB;
border-radius: 8px;


/* image 1 */

position: absolute;
width: 5321.47px;
height: 1316.18px;
left: -2174.32px;
top: -220.82px;

background: url(image.png);


/* Тестовый проект “Анализ воды в Норильске” */

position: absolute;
width: 704px;
height: 38px;
left: 218px;
top: 313px;

font-family: 'Mont';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;

color: #0033FF;



/* Group 19 */

position: absolute;
width: 60px;
height: 55px;
left: 218px;
top: 508px;



/* Время */

position: absolute;
width: 60px;
height: 23px;
left: 218px;
top: 508px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
/* identical to box height */

color: #000000;



/* 16:35 */

position: absolute;
width: 35px;
height: 20px;
left: 218px;
top: 543px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;

color: #000000;



/* Group 18 */

position: absolute;
width: 79px;
height: 55px;
left: 351px;
top: 508px;



/* 24.08.2022 */

position: absolute;
width: 79px;
height: 20px;
left: 351px;
top: 543px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;

color: #000000;



/* Дата */

position: absolute;
width: 48px;
height: 23px;
left: 351px;
top: 508px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
/* identical to box height */

color: #000000;



/* Group 17 */

position: absolute;
width: 242px;
height: 55px;
left: 769px;
top: 508px;



/* Group 16 */

position: absolute;
width: 242px;
height: 55px;
left: 769px;
top: 508px;



/* Lat: 71° 57' 18'', Lon: 089° 36' 16'' E */

position: absolute;
width: 242px;
height: 20px;
left: 769px;
top: 543px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;

color: #000000;



/* Координаты */

position: absolute;
width: 117px;
height: 23px;
left: 769px;
top: 508px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
/* identical to box height */

color: #000000;



/* Group 20 */

position: absolute;
width: 193px;
height: 55px;
left: 503px;
top: 508px;



/* Group 16 */

position: absolute;
width: 193px;
height: 55px;
left: 503px;
top: 508px;



/* 5 */

position: absolute;
width: 9px;
height: 20px;
left: 503px;
top: 543px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;

color: #000000;



/* Количество снимков */

position: absolute;
width: 193px;
height: 23px;
left: 503px;
top: 508px;

font-family: 'Mont';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
/* identical to box height */

color: #000000;

